<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.github.bobekos.simplebarcodescanner2">

    <uses-sdk tools:overrideLibrary="androidx.camera.camera2, androidx.camera.core"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="barcode"/>
    </application>

</manifest>
